<hello name="{{ name }}"></hello>
<p>
</p>
{{angka1}} {{angka2}}
  <table border=""> 
         <tr> 
            {{value}}
         
         </tr> 
         <tr> 
            <td><input type="button" value="1" (click)="dis(1)"/> </td> 
            <td><input type="button" value="2" (click)="dis(2)"/> </td> 
            <td><input type="button" value="3" (click)="dis(3)"/> </td> 
            
         </tr> 
         <tr> 
            <td><input type="button" value="4" (click)="dis(4)"/> </td> 
            <td><input type="button" value="5" (click)="dis(5)"/> </td> 
            <td><input type="button" value="6" (click)="dis(6)"/> </td> 
            
         </tr> 
         <tr> 
            <td><input type="button" value="7" (click)="dis(7)"/> </td> 
            <td><input type="button" value="8" (click)="dis(8)"/> </td> 
            <td><input type="button" value="9" (click)="dis(9)"/> </td> 
            
         </tr> 
         <tr> 
           
            <td><input type="button" value="0" (click)="dis(0)"/> </td> 
            <td><input type="button" value="=" (click)="ope()"/> </td> 
            <td><input type="button" value="-" (click)="dis('-')"/> </td> 
            <td><input type="button" value="+" (click)="dis('+')"/> </td> 
            
         </tr> 
      </table>
      